flask
flask-cors
opencv-python
numpy
trimesh
Pillow
pyrender
omegaconf
yacs
pytorch-lightning
braceexpand
huggingface-hub
transformers
# SAM-3D-Body 模型所需依赖
scikit-image
einops
timm
dill
pandas
rich
hydra-core
hydra-submitit-launcher
hydra-colorlog
pyrootutils
webdataset
chump
networkx==3.2.1
roma
joblib
seaborn
wandb
appdirs
appnope
ffmpeg-python
cython
jsonlines
pytest
xtcocotools
loguru
optree
fvcore
black
pycocotools
tensorboard
